body {
  background-color: rgba(0, 128, 128, 0.5);
  font-family: "Playwrite DK Loopet", cursive;
}
h1 {
  font-size: 60px; 
  font-weight: bold;
}
img {
  height: 150px;
  border-radius: 10px,
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
ul {
  list-style: circle;
  text-align: left;
}
li {
  font-weight: bold;
}
.red {
  color: red;
}
.orange {
  color: orange;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
