body {
  background-color: rgba(0, 128, 128, 0.5);
}
h1 {
  font-size: 60px; 
  font-family: "Playwrite DK Loopet", cursive;
  font-weight: bold;
}
.Hobbies {
  height: 150px;
  border-radius: 10px,
  box-shadow: 0 4xp 8xp rgba(0, 0, 0, 0.3);
}
